{% extends 'base.html' %}
{% load static %}

{% block title %}My Profile{% endblock %}
{% block content %}
<div class="container-xl">
	<div class="row">
		<div class="col-md-12">
			<h2><b>Profile</b></h2>
            {% if user.is_authenticated %}    
                <p>Hi, {{ user.username }}</p>
                <a class="logout-btn btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <p>Please login first</p>
            {% endif %}
        </div>
	</div>
</div>
{% endblock %}
