{% extends 'base.html' %}
{% load static %}

{% block title %}Радиодетали{% endblock %}
{% block content %}
<div class="container-xl">
	<div class="row">
		<div class="col-md-12">
			<h2><b>Products</b></h2>
            {% if object_list %}
                <div class="components-row">
                    <div class="item active">
                        <div class="row">
                            {% for product in object_list %}
                                <div class="col-12 col-lg-3" style="margin-bottom: 30px;">
                                    <div class="thumb-wrapper card">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="{{ product.image.url }}" class="img-fluid" alt=" ">	
                                        </div>
                                        <div class="thumb-content">
                                            <a href="{% url 'detail' product.id %}"><h4 class="product-name">{{ product.name }}</h4></a>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price">
                                                <b>${{ product.price }}</b>
                                            </p>
                                            <a href="#" class="btn btn-primary to-cart">Add to Cart</a>
                                        </div>						
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="text-center" style="font-size: 20px;">We couldn't find what you are looking for<br>:(</div>
            {% endif %}
        </div>
	</div>
</div>
{% endblock %}
